"unstructured[all-docs]"
langchain_community
langchain-openai
langchain-text-splitters 
tiktoken
streamlit 
faiss-cpu 
langchainhub
langchain>=0.1.0
openai>=0.27.0
sentence-splitter>=1.6.0
faiss-cpu>=1.7.4
numpy>=1.24.0
tqdm>=4.65.0
python-dotenv>=1.0.0
